@media screen and (max-width: 683px) {
  .navbar img {
    width: 300px;
    max-width: none;
  }
}


@media screen and (max-width: 464px) {
  #scrollUp,
  #scrollUpFavorites {
    right: 10px;
  }
}

@media screen and (max-width: 450px) {
  .slider-tab-open {
    padding: 1px 5px;
  }
}

@media screen and (max-width: 407px) {
  #scrollUp,
  #scrollUpFavorites {
    width: 40px;
  }
}



@media screen and (max-width: 388px) {
  #scrollUp,
  #scrollUpFavorites {
    width: 30px;
  }

  .slider-tab-open {
   padding: 0px 3px 0px 3px;
  }

  .button-styles {
    font-size: 1.3rem
  }
}